body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #007bff;
    color: #fff;
    height: 110px;
    text-align: center;
}

header h1 {
    margin: 0; 
    font-size: 40px;
}

header nav {
    margin: 20px 0;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    flex: 1;
}

.hero {
    background-color: #e9ecef;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
}

.hero h2 {
    color: #007bff;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
}

.product-item {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    flex: 1 0 calc(33.333% - 20px);
    box-sizing: border-box;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item h3 {
    color: #007bff;
    font-size: 1.25em;
}

button.btn {
    background-color: #dc3545;
    color: white;
}

button.btn:hover {
    background-color: #c82333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007bff;
    color: white;
    width: 100%;
}



.about-section h2 {
    color: #007bff;
}

.about-section p {
    margin: 10px 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
